$font-dark-grey: #303030;
$font-grey: #707070;
$blue: #0086D5;
$blue-mobile: #0087d51c;
$section-grey: #FAFAFA;
$color-white: #FFFFFF;
$color-black: #000000;
$color-border-input: #A5A5A5;
$font-grey-testimonials: #696969;
$color-testimonial-circle: #4D4D4D;
$font-footer-grey: #464646;
$color-red-square: #FE3D3B;
$color-green-square: #15D088;
$color-orange-square: #FFB601;
$color-testimonial-grey: #7070707d;

