@use "./colors" as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

body {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	background-color: $color-white;
}

li {
	list-style: none;
}

a {
	color: $font-grey;
	text-decoration: none;
}

img {
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.scroll-menu {
	box-shadow: 0px -5px 15px $color-border-input;
	transition: 1s;
}

.hide {
	display: none;
}

.section {
	&__title {
		font-weight: 700;
		color: $font-dark-grey;
		font-size: 3rem;

		@media (min-width: 992px) {
			font-size: 3.8rem;
		}

		&-small {
			font-size: 2.9rem;

			@media (min-width: 992px) {
				font-size: 3.6rem;
			}

			&--white {
				text-align: center;
				color: $color-white;
				padding-bottom: 0.5rem;
			}
		}
	}

	&__description {
		font-size: 1.6rem;
		font-weight: 400;
		color: $font-dark-grey;

		&--white {
			text-align: center;
			color: $color-white;
			padding-bottom: 3.5rem;
		}
	}

	&__blue {
		font-weight: 400;
		color: $blue;
		font-size: 1.4rem;
		padding-bottom: 1.1rem;

		&--white {
			color: $color-white;

			@media (min-width: 1200px) {
				padding-left: 5rem;
			}
		}
	}
}

button {
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}

.btn {
	background-color: $blue;
	color: $color-white;
	font-size: 1.4rem;
	padding: 1.2rem 1.8rem;
	border-radius: 8px;
	letter-spacing: 0.3px;
	border: 1px solid $blue;
	transition: color 0.3s, background-color 0.3s;

	&:hover {
		color: $blue;
		background-color: $color-white;
	}

	&__section {
		padding: 1.6rem 3.1rem;
	}
}

.nav {
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	padding: 2rem 2rem;
	background-color: $section-grey;
	z-index: 15;

	@media (min-width: 992px) {
		align-items: center;
		padding: 1.2rem 4rem;
		height: 70px;
	}

	@media (min-width: 1400px) {
		padding: 1.2rem 13.6rem;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		font-size: 1.4rem;

		@media (min-width: 992px) and (max-width: 1100px) {
			justify-content: center;
		}

		@media (min-width: 1530px) {
			justify-content: start;
		}
	}

	&__mobile {
		&-list {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			top: 100px;
			left: 0;
			bottom: 0;
			right: 0;
			height: 500px;
			width: 100%;
			border-bottom-left-radius: 3%;
			border-bottom-right-radius: 3%;
			box-shadow: 0px 10px 10px $blue-mobile;
			background-color: $section-grey;
			transform: translateX(-132%);
			z-index: 5;
			transition: transform 0.5s;

			&--active {
				transform: translateX(0);
			}

			@media (min-width: 992px) {
				display: none;
			}

			@media (max-height: 600px) {
				height: 70vh;
			}
		}

		&-link {
			display: block;
			padding: 1.5rem 4rem;
			border-left: 2px solid transparent;
			transition: border-left 0.1s, color 0.3s, transform 0.3s;

			@media (min-width: 576px) {
				padding: 1.5rem 7rem;
			}

			@media (min-width: 768px) {
				padding: 1.5rem 15rem;
			}

			&:hover {
				border-left: 2px solid $blue;
				transform: scale(1.1);
				color: $blue;
			}
		}
	}

	&__btn-mobile {
		button {
			padding: 1.5rem;
			animation: 0.5s ease-in forwards rotate;

			@media (min-width: 992px) {
				display: none;
			}
		}
	}

	&__left {
		@media (min-width: 992px) {
			display: flex;
			align-items: center;

			& > a {
				display: flex;
				margin-right: 4rem;
			}
		}

		@media (min-width: 1530px) {
			padding-right: 11.55rem;
		}
	}

	&__desktop {
		&-list {
			display: none;

			@media (min-width: 992px) {
				display: flex;
			}
		}

		&-item {
			display: block;
			padding: 0rem 1.45rem;
		}

		&-link {
			&:hover {
				color: $blue;
			}

			&--active {
				color: $blue;
			}
		}
	}

	&__panel {
		display: none;

		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}

		&-item {
			padding: 0rem 1.5rem;

			& > a {
				&:hover {
					color: $blue;
				}
			}

			&:nth-child(2) {
				display: none;

				@media (min-width: 1530px) {
					display: flex;
				}
			}

			&:first-child {
				@media (min-width: 1530px) {
					padding-left: 0rem;
				}
			}
		}

		&-globe {
			display: flex;
		}
	}
}

.header {
	background-color: $section-grey;
	&__contener {
		display: flex;
		flex-direction: column;
		padding: 6rem 2rem 0rem 2rem;

		@media (min-width: 992px) {
			flex-direction: row;
			gap: 2.4rem;
		}

		@media (min-width: 1600px) {
			padding: 6rem 0rem 0rem 0rem;
		}
	}

	&__tasks {
		display: flex;
		flex-direction: column;
		padding-bottom: 6rem;
		text-align: center;

		@media (min-width: 992px) {
			padding-bottom: 0rem;
			justify-content: center;
			text-align: left;
		}
	}

	&__title {
		padding-bottom: 2rem;
		font-size: 3.2rem;
		font-weight: 700;
		color: $font-dark-grey;

		@media (min-width: 1200px) {
			font-size: 4.8rem;
		}
	}

	&__description {
		padding-bottom: 3.5rem;
		font-size: 1.7rem;
		color: $font-grey;

		@media (min-width: 1200px) {
			font-size: 2rem;
		}
	}

	&__sign {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5rem;

		@media (min-width: 992px) {
			justify-content: flex-start;
		}

		&-input {
			padding: 1.8rem 1.5rem 1.9rem 1.5rem;
			font-size: 1.4rem;
			width: 100%;
			max-width: 300px;
			color: $font-grey;
			border: 1px solid $color-border-input;
			border-radius: 5px;
			outline: none;
			transition: border 0.5s;

			&:focus {
				border: 1px solid $blue;
			}
		}
	}

	&__image {
		width: 100%;
		max-width: 660px;

		@media (min-width: 720px) and (max-width: 992px) {
			margin: 0 auto;
		}
	}
}

.clients {
	padding: 5.8rem 2rem 7.2rem 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			padding-bottom: 1rem;
			text-align: center;
		}

		p {
			padding-bottom: 2rem;
			text-align: center;
		}
	}

	&__box {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;

		@media (min-width: 350px) and (max-width: 1032px) {
			display: grid;
			justify-items: center;
			gap: 2rem;
		}

		@media (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 900px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__link {
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);
		}
	}
}

.solutions {
	padding: 5.1rem 2rem 8.5rem 2rem;
	background-color: $section-grey;
	&__content {
		h2 {
			padding-bottom: 0.9rem;
		}

		&-desc {
			padding-bottom: 2.5rem;
		}

		@media (min-width: 844px) {
			display: flex;
		}

		@media (min-width: 992px) and (max-width: 1200px) {
			justify-content: space-between;
		}
	}

	&__description {
		@media (min-width: 844px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		@media (min-width: 1200px) {
			padding-right: 9.9rem;
		}
	}

	&__boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		padding-top: 5rem;

		@media (min-width: 844px) {
			padding-top: 0;
		}

		@media (min-width: 992px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	&__box {
		padding: 2.4rem 1.1rem 1.9rem 1.7rem;
		max-width: 249px;
		width: 100%;
		min-height: 212px;
		border: 1px solid $font-grey;
		border-radius: 15px;
		overflow: hidden;

		@media (min-width: 575px) {
			&:nth-child(even) {
				margin-top: 2rem;
				margin-bottom: -2rem;
			}
		}

		&-title {
			padding-bottom: 1.1rem;
			font-size: 2.4rem;
			font-weight: 700;
			color: $font-dark-grey;
		}

		&-description {
			font-size: 1.1rem;
			color: $font-grey-testimonials;
		}
	}

	&__square {
		width: 57px;
		height: 57px;
		margin-bottom: 1.4rem;
		border-radius: 8px;

		&-red {
			background-color: $color-red-square;
		}

		&-blue {
			background-color: $blue;
		}

		&-green {
			background-color: $color-green-square;
		}

		&-orange {
			background-color: $color-orange-square;
		}

		&-image {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}

		&-tasks {
			background-image: url("../../dist/img/Tasks-icon-features.svg");
		}

		&-time {
			background-image: url("../../dist/img/Time-icon-features.svg");
		}

		&-onboarding {
			background-image: url("../../dist/img/Onboarding-icon-features.svg");
		}

		&-collaboration {
			background-image: url("../../dist/img/Collaboration-icon-features.svg");
		}
	}
}

.order {
	order: 1;
}

.resources {
	padding: 8.6rem 2rem 7.8rem 2rem;

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__perform {
		align-items: flex-end;
		text-align: right;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-bottom: 6rem;

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
			padding-bottom: 8.6rem;
			gap: 1rem;
		}

		@media (min-width: 768px) {
			gap: 4rem;
		}

		&:last-child {
			padding-bottom: 0;
		}

		h2 {
			padding-bottom: 1.2rem;
		}

		p {
			padding-bottom: 3rem;
		}
	}

	&__image {
		padding-bottom: 4rem;

		@media (min-width: 768px) {
			padding-bottom: 0;
		}

		img {
			max-width: 574px;
		}
	}

	&__btn {
		padding: 1.7rem 3.2rem;
	}
}

.swiper {
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 4.7rem;
	padding-bottom: 8.7rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border: 3px solid $color-black;
	background-color: $blue;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	border: 3px solid $color-testimonial-circle;
	background-color: white;
}

.testimonials {
	padding: 4.9rem 2rem 7.5rem 2rem;
	background-color: $section-grey;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__blue {
		padding-bottom: 2.1rem;
	}

	&__title {
		padding-bottom: 6rem;
	}

	&__box {
		position: relative;
		padding: 3.3rem 3.5rem;
		border: 1px solid $color-testimonial-grey;
		border-radius: 15px;
		width: 100%;
		text-align: center;
		transition: border-color 0.3s;

		@media (min-width: 768px) {
			max-width: 600px;
		}

		&:hover {
			border-color: $blue;

			.testimonials__name {
				color: $blue;
			}
		}
	}

	&__avatar {
		position: absolute;
		top: 0%;
		left: 50%;
		width: 93px;
		height: 93px;
		transform: translate(-50%, -50%);

		&-one {
			background-image: url("../../dist/img/Testimonials-one.png");
		}

		&-two {
			background-image: url("../../dist/img/Testimonials-two.png");
		}
	}

	&__name {
		padding-top: 2.7rem;
		font-size: 1.8rem;
		font-weight: 700;
		color: $font-dark-grey;
		transition: color 0.3s;
	}

	&__function {
		padding-bottom: 0.7em;
		text-transform: uppercase;
	}

	&__function,
	&__desc {
		font-size: 1.1rem;
		color: $font-grey-testimonials;
	}
}

.faq {
	padding: 8.7rem 2rem 6rem 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 8rem;
	}

	&__question {
		display: flex;
		flex-direction: column;
		width: 100%;

		@media (min-width: 992px) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-around;
		}
	}

	&__accordion {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.7rem;
		padding-bottom: 4.5rem;

		@media (min-width: 992px) {
			align-items: normal;
			padding-bottom: 12.5rem;
		}

		&-box {
			padding: 3rem 2.4rem 2.5rem 2.4rem;
			border: 1px solid $color-testimonial-grey;
			border-radius: 15px;
			width: 100%;
			cursor: pointer;

			@media (min-width: 610px) {
				width: 561px;
			}
		}

		&-btn {
			display: block;
			width: 100%;
		}

		&-title {
			position: relative;
			text-align: left;
			padding-right: 4rem;
			font-size: 1.8rem;
			color: $font-dark-grey;
		}

		&-arrow {
			position: absolute;
			top: 50%;
			right: 0;
			width: 14px;
			height: 14px;
			transform: translate(0, -50%);
			background-image: url("../../dist/img/arrow-right.svg");
			background-repeat: no-repeat;
			background-position: center;
			transition: transform 0.4s;

			&--active {
				transform: translate(0, -50%) rotate(90deg);
			}
		}

		&-info {
			display: none;

			&--active {
				display: block;
				animation: 0.5s ease-in forwards accordion;
			}
		}

		&-text {
			padding-top: 1.8rem;
			color: $font-grey-testimonials;
			font-size: 1.1rem;
		}
	}

	&__image {
		display: flex;
		justify-content: flex-end;

		img {
			position: relative;
			max-width: 570px;
			width: 100%;
			height: 100%;
			bottom: -17px;
			right: 0;
			z-index: 2;
		}
	}

	&__subscribe {
		position: relative;
		padding: 4.3rem 4rem 5.3rem 4rem;
		background-color: $blue;
		border-radius: 15px;

		@media (min-width: 992px) {
			padding-top: 9.3rem;

			&::after {
				content: "";
				position: absolute;
				background-image: url("../../dist/img/Subscribe-ship.png");
				max-width: 450px;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				top: 0;
				left: 8%;
				transform: translateX(8%);
			}
		}

		@media (min-width: 1090px) {
			&::after {
				left: 11%;
				transform: translateX(11%);
			}
		}

		@media (min-width: 1200px) {
			padding: 11.3rem 30rem 6.3rem 30rem;
			max-width: 1176px;
			margin: 0 auto;

			&::after {
				left: 13%;
				transform: translate(12%, 6%);
			}
		}

		&-row {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 10;
		}
	}

	&__mail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.8rem;
		width: 100%;

		@media (min-width: 650px) {
			flex-direction: row;
			gap: 1.8rem;
		}

		&-label {
			position: relative;
			max-width: 300px;
			width: 100%;

			&::before {
				content: "";
				position: absolute;
				top: 46%;
				left: 1.3rem;
				transform: translateY(-46%);
				width: 17px;
				height: 14px;
				background-image: url("../../dist/img/mail-icon.svg");
				z-index: 10;
			}
		}

		&-input {
			position: relative;
			padding: 1.8rem 1.9rem 1.9rem 4.1rem;
			font-size: 1.4rem;
			width: 100%;
			color: $color-white;
			background: $blue;
			border: 1px solid $color-white;
			border-radius: 8px;

			&::placeholder {
				color: $color-white;
			}
		}

		&-btn {
			padding: 1.8rem 2.1rem;
			font-weight: 600;
			background-color: $color-white;
			color: $color-black;
		}
	}
}

.footer {
	padding: 6rem 2rem 3.2rem 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 5rem;

		@media (min-width: 992px) {
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
		}

		@media (min-width: 992px) and (max-width: 1150px) {
			gap: 1rem;
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;

		@media (min-width: 455px) {
			align-items: center;
		}
	}

	&__logo {
		img {
			max-width: 148px;
			height: 33px;
			margin-bottom: 2.5rem;
		}
	}

	&__description {
		padding-bottom: 3rem;
		font-size: 1.2rem;
		color: $font-footer-grey;

		@media (min-width: 576px) {
			font-size: 1.4rem;
		}
	}

	&__social {
		display: flex;
		justify-content: flex-start;
		gap: 1.6rem;

		&-list {
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__category {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 2rem;

		@media (min-width: 455px) {
			justify-content: center;
			gap: 4rem;
		}

		@media (min-width: 992px) {
			justify-content: flex-start;
		}

		@media (min-width: 992px) and (max-width: 1100px) {
			gap: 1rem;
		}

		@media (min-width: 1200px) {
			justify-content: flex-start;
			gap: 5.4rem;
		}

		&-title {
			padding-bottom: 1.3rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: $font-dark-grey;

			@media (min-width: 576px) {
				padding-bottom: 1.5rem;
				font-size: 1.8rem;
			}
		}

		&-item {
			padding-bottom: 0.9rem;
		}

		&-link {
			font-size: 1.2rem;
			color: $font-footer-grey;

			&:hover {
				color: $blue;
			}

			@media (min-width: 576px) {
				font-size: 1.4rem;
			}
		}

		&-double {
			display: flex;
			flex-direction: column;
			gap: 1.7rem;
		}
	}

	&__author {
		padding-top: 7rem;
		text-align: center;

		p,
		a {
			font-size: 1.2rem;
			color: $font-footer-grey;

			a:hover {
				color: $blue;
				border-bottom: 1px solid $blue;
			}

			@media (min-width: 576px) {
				font-size: 1.4rem;
			}
		}
	}
}

// =====================================
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes accordion {
	from {
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	to {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
